<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Calendar!</h1>
    <p>
    <!--REGISTER-->
      <a href="/register"><button class="links">Register</button></a>

    <!--LOGIN-->
      <a href="/users"><button class="links">Login</button></a>
    </p>
  </body>
</html>
