.links {
  background-color: #90a9d4;
  color: white;
  font-size: 20px;
  width: 120px;
  height: 60px;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #90C1D4;
  font-family: Tahoma;
  margin-top: 20%;
}

/*
  colors: 90C1D4, 90a9d4, 94CBE0, 2B559E, white, light gray, black
  */
