.view {
  font-family: Tahoma, Arial;
  background-color: #90C1D4;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#weekcellone {
  background-color: #90C1D4;
}

#weeklydates{
  color: white;
  background-color: #90a9d4;
  text-align: center;
}

.month, .weekview, .dailyview {
  font-size: 26px;
  color: white;
  background-color: #90c3d4;
  height: 45px;
}

.weekdays {
  font-size: 20px;
  color: white;
  background-color: #90a9d4;
  text-align: center;
  height: 40px;
}

.weekdays td {
  padding: 10px;
  border-radius: 5px;
}

.timeslots {
  background-color: white;
  color: #90a9d4;

}

.hours {
  font-size: 14px;
  color: #90a9d4;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}

.weeklyevents {
  background-color: white;
}

.weeklyevents td {
  border-radius: 3px;
}

/*edit popup details*/
#editpopup, #updateevent {
  background-color: #90a9d4;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  /*z-index: 2;*/
}

#editpopup h1, #updateevent h1 {
  font: Tahoma;
  text-align: center;
  color: white;
}

#exitEdit, #exitUpd {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 7px;
  font-size: 20px;
  color: white;
  background-color: #90a9d4;
  border-radius: 100%;
  font-size: 24px;
}

#editpopup label, #updateevent label {
  color: white;
}

#weeklyview {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline;
}

#addEvent{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  z-index: 10;
}

#addEvent button, #prevMonth button, #nextMonth button, .delEvent button{
  background-color: #90a9d4;
  border-radius: 100%;
  font-size: 24px;
  color: white;
}

.delEvent {
  color: red;
}

#monthViewButton{
  display: inline;
  position: absolute;
  top:0;
  left:0;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #90a9d4;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  width: 75px;
}

#eventdetailspopup{
  background-color: gray;
  border-radius: 10px;
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}

#eventdetailspopup p{
  color: white;
  font-family: tahoma;
  font-weight: bold;
  margin-left: 15px;
}

#eventdetailspopup h1{
  color: white;
  font-family: tahoma;
  margin-left: 10px;
}

#detailsName, #detailsSDate, #detailsSSTime, #detailsEDate, #detailsEETime, #detailsDetails, #detailsRepeat, #detailsRepDays{
  font-weight: normal;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
}

#logout {
  display: inline;
  position: absolute;
  top:0;
  left:0;
  margin-top: 60px;
  margin-left: 5px;
  background-color: #90a9d4;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  width: 75px;
  height: 32px;
  text-align: center;
}

a {
  text-decoration: none;
}
